* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #222;
    color: #ddd;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    padding: 1.5rem;
    background-color: royalblue;    
    color: #fff;
    text-align: center;
    box-shadow: 0 0 10px #000;
}

.app {
    width: 90%;
    max-width: 30rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#robotImg {
    width: 100%;
    padding: 1rem 0;
}

#textInput {
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem .5rem;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
    .speed {
        flex-grow: 2;
    }
    input, button {
        flex-grow: 1;
        margin-left: .5rem;
        padding: .5rem;
        font-size: 1rem;
        font-family: impact;
    }
    button {
        cursor: pointer;
    }

footer {
    background-color: royalblue;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0 10px #000;
}
    footer a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
    }
    footer a:hover {
        color: inherit;
    }

@media only screen and (max-width: 960px) {
    html {
        font-size: 14px;
    }
}
@media only screen and (max-width: 414px) {
    html {
        font-size: 12px;
    }
}