* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #222;
    background-image: url('img/sm-grad.jpg');
    background-position: center 10vh;
    background-size: cover;
    color: #ddd;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    padding: 1.5rem;
    background-color: royalblue;    
    color: #fff;
    text-align: center;
    box-shadow: 0 0 10px #000;
}

.app {
    width: 90%;
    max-width: 30rem;
    margin: 5rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    perspective: 1000px;
}

#robotImg {
    width: 70%;
    padding: 1rem 0;
    border-radius: 50%;
    transform-origin: center;
}
    #robotImg.cursing {
        animation: cursing 1s ease-in-out;
    }

@keyframes cursing {
    25% { transform: rotateY(-35deg); }
    75% { transform: rotateY(35deg); }
}

#textInput {
    width: 100%;
    background: #111;
    color: inherit;
    border: 1px solid #ddd;
    font-size: 1.5rem;
    padding: 1rem .5rem;
}
    #textInput:disabled {
        opacity: .5;
    }

.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}
    .speed {
        flex-grow: 2;
    }
    input, button {
        flex-grow: 1;
        margin-left: .5rem;
        padding: .5rem;
        font-size: 1rem;
        font-family: impact;
    }
    button {
        cursor: pointer;
        outline: none;
        border: 2px solid #222;
        transition: all .25s ease-in-out;
    }
        button:active {
            transform: scale(.95);
        }
        button:hover {
            filter: brightness(90%);
        }
        button:nth-child(2) {background: lime;}
        button:nth-child(3) {background: cornflowerblue;}
        button:nth-child(4) {background: coral;}

    .no-cursing {
        background: crimson;
        color: #fff;
        padding: .5rem 1rem;
        border-radius: .25rem;
        margin-top: 2rem;
        animation: pulse 2s ease-in-out infinite;
    }

@keyframes pulse {
    0% {
        transform: scale(.98);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }
    75% {
        transform: scale(1.03);
        box-shadow: 0 0 0 15px rgba(255, 0, 0, 0);
    }
    100% {
        transform: scale(.98);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

footer {
    background-color: royalblue;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 0 10px #000;
}
    footer a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
    }
    footer a:hover {
        color: inherit;
    }

@media only screen and (max-width: 960px) {
    html {
        font-size: 14px;
    }
}
@media only screen and (max-width: 414px) {
    html {
        font-size: 12px;
    }
}